body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('bg-tile.gif') repeat;
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #000080;
    margin: 0;
    padding: 0;
}

#header, #footer {
    background-color: #f0f8ff;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 3px solid #000080;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

#search-bar {
    margin: 20px;
}

#content {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border: 3px solid #000080;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.review {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 2px solid #000080;
}

.rating-breakdown {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f8ff;
    border: 2px solid #000080;
}

#pagination {
    margin: 20px;
}

#pagination button {
    margin: 0 10px;
    padding: 5px 15px;
    background-color: #000080;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#pagination button:hover {
    background-color: #3333cc;
}

#page-number {
    font-weight: bold;
}

@media (max-width: 768px) {
    #content {
        padding: 10px;
    }

    #pagination {
        display: flex;
        justify-content: center;
    }
}
